@import "tailwindcss";
:root {
  --vazir-font: Vazirmatn;
  --alexandria-font: Alexandria;
  --teal: #a8d8ea;
}
* {
  user-select: none;
  scroll-behavior: smooth;
  direction: rtl;
  margin: 0rem;
}
.custom-gradient-bg {
  background: linear-gradient(-45deg, #2b2f33, #384047, #4db6ac, #1e1f21);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
}
.custom-teal-bg {
  background-color: var(--teal);
}
.custom-vazir-font {
  font-family: var(--vazir-font);
}
.custom-alexandria-font {
  font-family: var(--alexandria-font);
}
.custom-login-banner {
  background: url("../src/assets/Material/bg2.png");
  background-size: 33em;
}
/*.custom-bg {
  background: url("../src/assets/Material/custom-bg.jpg");
  background-position: center;
  background-size: 100rem;
} */
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
